# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  label:
    branches: [ "main" ]
  schedule:
    - cron: '0/30 * * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  call-workflow-test:
    uses: ./.github/workflows/whats-good.yml
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: call-workflow-test

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/setup-node@v6
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          name: logging.js
          path: js-scripts/

      # Runs a single command using the runners shell
      - run: |
          ls -R ./js-scripts
          node js-scripts/logging.js
