name: make release

on:
  workflow_call:

jobs:
  make-release:
    runs-on: ubuntu-latest
    env:
      # your github username
      BASE_AUTHOR: pret
      HACK_AUTHOR: khbsd

      # your gba filename
      BASE_ROM: pokeemerald
      HACK_ROM: pokeemerald-kaya

      # what your repo is named
      BASE_REPO: pokeemerald
      HACK_REPO: pokeemerald-expansion-kaya

    steps:
      - name: Install binutils
        run: echo hi binutils

      - name: Make agbcc
        run: |
          git clone https://github.com/pret/agbcc
          cd agbcc

          cd ..

      - name: Make $BASE_ROM
        run: |
          git clone https://github.com/$BASE_AUTHOR/$BASE_ROM ./$BASE_AUTHOR
          cd agbcc

          cd ..

          cd ./$BASE_AUTHOR
          touch $BASE_ROM.gba
          cd ..

      - name: Make $HACK_ROM
        run: |
          git clone https://github.com/$HACK_AUTHOR/$HACK_REPO ./$HACK_AUTHOR
          cd ./$HACK_AUTHOR
          touch $HACK_ROM.gba
          cd ..
          ls -Ra

      - name: Upload $BASE_ROM
        uses: actions/upload-artifact@v4
        with:
          name: $BASE_ROM.gba
          path: $BASE_AUTHOR/$BASE_ROM.gba

      - name: Upload $HACK_ROM
        uses: actions/upload-artifact@v4
        with:
          name: $HACK_ROM.gba
          path: $HACK_AUTHOR/$HACK_ROM.gba

