name: make release

on:
  workflow_call:

jobs:
  make-release:
    runs-on: ubuntu-latest
    env:
      # your github username
      BASE_AUTHOR: pret
      HACK_AUTHOR: khbsd

      # your gba filename
      BASE_ROM: pokeemerald
      HACK_ROM: pokeemerald_kaya

      # what your repo is named
      BASE_REPO: pokeemerald
      HACK_REPO: pokeemerald-expansion-kaya

    steps:
      - name: Install binutils
        run: echo hi binutils

      - name: Make agbcc
        run: |
          git clone https://github.com/pret/agbcc
          cd agbcc

          cd ..

      - name: Make ${{ env.BASE_ROM }}
        run: |
          git clone https://github.com/${{ env.BASE_AUTHOR }}/${{ env.BASE_ROM }} ./${{ env.BASE_AUTHOR }}
          cd agbcc

          cd ..

          cd ./${{ env.BASE_AUTHOR }}
          touch ${{ env.BASE_ROM }}.gba
          ls -a
          cd ..

      - name: Make ${{ env.HACK_ROM }}
        run: |
          git clone https://github.com/${{ env.HACK_AUTHOR }}/${{ env.HACK_REPO }} ./${{ env.HACK_AUTHOR }}
          cd ./${{ env.HACK_AUTHOR }}
          touch ${{ env.HACK_ROM }}.gba
          ls -a
          cd ..
          ls -a

      - name: Upload ${{ env.BASE_ROM }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BASE_ROM }}.gba
          path: ${{ env.BASE_AUTHOR }}/${{ env.BASE_ROM }}.gba

      - name: Upload ${{ env.HACK_ROM }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.HACK_ROM }}.gba
          path: ${{ env.HACK_AUTHOR }}/${{ env.HACK_ROM }}.gba

